{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    Alterar senha {{ block.super }}  
{% endblock %}



{% block body %}
    <h1>Alterar Senha</h1>

    {% include 'partials/messages.html '%}

    <form method='POST' action='.'>
    {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.old_password.id_for_label }}">Senha Antiga</label>
            {{ form.old_password|add_class:"form-control"|attr:"type:password"}}
        </div>

        <div class="form-group">
            <label for="{{ form.new_password1.id_for_label }}">Nova senha</label>
            {{ form.new_password1|add_class:"form-control"|attr:"type:password"}}
        </div>

        <p>
            - Sua senha não pode ser muito parecida com o resto das suas informações pessoais.<br>
            - Sua senha precisa conter pelo menos 8 caracteres.<br>
            - Sua senha não pode ser uma senha comumente utilizada.<br>
            - Sua senha não pode ser inteiramente numérica.<br>
        <p>

        <div class="form-group">
            <label for="{{ form.new_password2.id_for_label }}">Repita senha</label>
            {{ form.new_password2|add_class:"form-control"|attr:"type:password"}}
        </div>

        <br>

        <button type="submit" class="btn btn-primary">Atualizar</button>
    </form>

{% endblock %}