{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Lista Tarefas {{ block.super }}  {% endblock %}

{% block body %}

    <h1>Resultado </h1>


    <table class="table">
        <thead>
          <tr>
            <th scope="col">Tarefa</th>
            <th scope="col">Descrição</th>
            <th scope="col">Data Final</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
        
            {% for task in tasks %}
          <tr>
            <th>{{ task.name }}</th>
            <td>{{ task.description }}</td>
            <td>{{ task.end_date }}</td>
            <td>Editar</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock %}